* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 1rem;
  justify-content: center;
  text-align: center;
}

.player-hand{
  margin-left: 10rem;
  margin-top: 40rem;
  float: left;
  border: 1px solid black;
  height: 15rem;
  width: 90rem;
}

.player-deck{
  margin-left: 5rem;
  border: 1px solid black;
  height: 15rem;
  width: 10rem;
  float: left;
  margin-top: 40rem;
  border-radius: .5rem;
}

.card{
  display: inline-block;
  border: 1px solid rgb(170, 20, 20);
  border-radius: .5rem;
  height: 15rem;
  width: 10rem;
}

