* {
  box-sizing: border-box;
}

.deck-img {
  width: 15rem;
  height: 20rem;
  border-radius: .7rem;
}

.graveyard-img{
  width: 15rem;
  height: 20rem;
  z-index: -1;
  position: absolute;
  margin-left: 1rem;
}

#pickaxe-cursor{
  width: 2rem;
  height: 2rem;
  content: url("./images/pickaxe.png");
  position: absolute;
  z-index: 50;
  pointer-events: none;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  /* justify-content: center; */
  text-align: center;
}

/* GRID SECTION */
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 0.5fr;
  grid-template-rows: repeat(6, minmax(21rem, auto));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
}

#player-creature-board { 
  grid-area: 4 / 1 / 5 / 8; 
}

#player-mana-board { 
  grid-area: 5 / 1 / 6 / 6; 
}

#player-mana-count { 
  grid-area: 5 / 6 / 6 / 7; 
}

#player-deck{
  grid-area: 6 / 1 / 7 / 2;
  /* margin-left: 6.5rem; */
  /* float: left; */
}

#player-graveyard{
  grid-area: 6 / 2 / 7 / 3;

}

#player-hand{
  grid-area: 6 / 3 / 7 / 8;
}

#player-buttons{
  grid-area: 5 / 7 / 6 / 8;
}

/* opponent side */

#opponent-creature-board {
  grid-area: 3 / 1 / 4 / 8;
}

#opponent-mana-board { 
  grid-area: 2 / 1 / 3 / 6; 
}

#opponent-mana-count { 
  grid-area: 2 / 6 / 3 / 7; 
}

#opponent-deck{
  grid-area: 1 / 1 / 2 / 2;
}

#opponent-graveyard{
  grid-area: 1 / 2 / 2 / 3;

}

#opponent-hand{
  grid-area: 1 / 3 / 2 / 8;
}

#opponent-buttons{
  grid-area: 2 / 7 / 3 / 8;
}
 /* END OF GRID SECTION */

 .graveyard{
  position: relative;
  text-align:justify;
 }

 .hand, .mana-board, .mana-count, .creature-board {
  border: 1px solid black;
 }
  
 /* MANA ICONS */
.mana-icon{
  width: 5rem;
  height: 5rem;
}

.red-mana-value{
  position: absolute;
  z-index: 10;
  top: 2.7rem;
  margin-top: auto; 
  margin-bottom: auto; 
  left: 0rem;
  right: 0rem;
  margin-left: auto; 
  margin-right: auto; 
  color: rgb(255, 255, 255);
  font-size: 3rem;  
}

.green-mana-value{
  position: absolute;
  z-index: 10;
  top: 6.7rem;
  left: 0rem;
  right: 9rem;
  margin-left: auto; 
  margin-right: auto; 
  color: rgb(255, 255, 255);
  font-size: 3rem;  
}

.blue-mana-value{
  position: absolute;
  z-index: 10;
  top: 6.7rem;
  left: 9rem;
  right: 0rem;
  margin-left: auto; 
  margin-right: auto; 
  color: rgb(255, 255, 255);
  font-size: 3rem;  
}

.black-mana-value{
  position: absolute;
  z-index: 10;
  top: 12.2rem;
  left: 2rem;
  right: 8rem;
  margin-left: auto; 
  margin-right: auto; 
  color: rgb(255, 255, 255);
  font-size: 3rem;  
}

.white-mana-value{
  position: absolute;
  z-index: 10;
  top: 12.2rem;
  left: 8rem;
  right: 2rem;
  margin-left: auto; 
  margin-right: auto; 
  color: rgb(255, 255, 255);
  font-size: 3rem;  
}

.mana-red-icon{
  position: absolute;
  top: 2rem;
  left: 0rem;
  right: 0rem;
  margin-left: auto; 
  margin-right: auto; 

}

.mana-green-icon{
  position: absolute;
  top: 6rem;
  left: 0rem;
  right: 9rem;
  margin-left: auto; 
  margin-right: auto; 
}

.mana-blue-icon{
  position: absolute;
  top: 6rem;
  left: 9rem;
  right: 0rem;
  margin-left: auto; 
  margin-right: auto; 
}

.mana-white-icon{
  position: absolute;
  top: 11.5rem;
  left: 8rem;
  right: 2rem;
  margin-left: auto; 
  margin-right: auto; 
}

.mana-black-icon{
  position: absolute;
  top: 11.5rem;
  left: 2rem;
  right: 8rem;
  margin-left: auto; 
  margin-right: auto; 
}


.mana-count{
  position: relative;
  background-image: url("./card_images/mana_background.png");
}

/* /MANAICONS */


/* ANIMATIONS */
  
.deck:hover{
  transform: scale(1.05);
  cursor: pointer;
 }

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* END ANIMATIONS */


/* BUTTONS */

button{
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
}

button:hover{
  color: #fff;
  cursor: pointer;
}


.next-turn {
  margin-top: 4.5rem;
}

.mine-mineral{
  margin-top: 1rem;
}

.mute-unmute-button{
  margin-top: 1rem;
}

  
button .buttonText {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

button:hover .buttonText {
  background: transparent;
}

.material-symbols-outlined {  /* muted icon */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

  /* /BUTTONS */