* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 1rem;
  justify-content: center;
  text-align: center;
}

.player-deck,
.player-hand {
  margin-top: 35rem;
  height: 20rem;
}

.player-hand{
  margin-left: 5rem;
  float: left;
  border: 1px solid black;
  width: 90rem;
}

.player-deck{
  margin-left: 5rem;
  width: 15rem;
  float: left;
}


